@charset "utf-8";


body {
	background:#FFF;
	background-attachment:fixed;
	background-image:none;
	background-position:center center;
	background-repeat:no-repeat;
	color:#333;
	font-family:Arial,"宋体";
	font-size:12px;
	margin:0 auto;
	padding:0;
	text-align:center;
}

div, form, p, i, img, ul, li, ol, dl, dt, dd, table, tr, td, th, fieldset, label, legend, select, button, input {
	margin:0;
	padding:0;
}
p,li,div{
	line-height:20px;
}


h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:normal
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0
}

ul, ol, li, dl, dt, dd {
	list-style:none;
}

img, a img {
	border:0px;
	padding:0px;
	margin:0px;
	vertical-align:middle
}

a:link {
	color:#464646;
	text-decoration:none;
}
a:visited {
	color:#464646;
	text-decoration:none;
}
a:hover {
	color:#d20202;
	text-decoration:underline;
}
a:active {
	color:#464646;
	text-decoration:none;
}

.fontred{
	color:#f00;
}
.fontgray{
	color:#999;
}
.fontblack{
	color:#333;
}

.input01 {
	width:128px;
	height:24px;
	border:1px solid #ccc;
	line-height:24px;
}
.input02 {
	width:54px;
	height:24px;
	border:1px solid #ccc;
	line-height:24px;
}
.input03 {
    border: 1px solid #CCCCCC;
    height: 24px;
    width: 180px;
	line-height:24px;
}
.input04 {
	width:100px;
	height:24px;
	border:1px solid #ccc;
	line-height:24px;
}




.clearBoth {
	clear:both;
	
	width:100%;
	height:0px;
	font-size:0;
	overflow:hidden;
	
}

.clunm3 {
	width:33.3%;
}

.border-top {
	height:27px;
	text-align:left;
	background:url("http://www.yiqifa.com/image/border/border-right.jpg") no-repeat 100% 0;
}
.border-top h3 {
	color:#c40006;
	font-size:14px;
	display:inline-block;
	height:27px;
	float:left;
	background:url("http://www.yiqifa.com/image/border/border-left.jpg") no-repeat 0 0;
	width:121px;
	font-weight:bold;
	line-height:27px;
	text-align:center;
}
.border-top a {
	display:inline-block;
	float:right;
	margin-right:10px;
}
.border-middle {
	border:1px solid #c5c5c5;
	border-top:none;
	padding:10px;
	background:#fff url("http://www.yiqifa.com/image/border/border-bg.jpg") repeat-x 0 0;
}

.border01-top {
	height:25px;
	text-align:left;
	border-bottom:1px solid #e5e5e5;
	line-height:25px;
}
.border01-top h3 {
	height:25px;
	text-align:left;
	background:url("http://www.yiqifa.com/image/border01/border-icon.jpg") no-repeat left center;
	padding-left:23px;
	font-size:12px;
	font-weight:bold;
	color:#202020;
	line-height:25px;
	float:left;
}
.border01-top a {
	display:inline-block;
	float:right;
	margin-left:10px;
}

.btns_01 {
    background: url("http://www.yiqifa.com/image/btn/button_3.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    padding-top: 1px;
    text-align: center;
    width: 61px;
}
.btns_02 {
    background: url("http://www.yiqifa.com/image/btn/get_code_nologin.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 32px;
    text-align: center;
    width: 101px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
.btns_04 {
    background: url("http://www.yiqifa.com/images/btn_03.jpg");
    border: 0 none;
    cursor: pointer;
    height: 35px;
    text-align: center;
    width: 117px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	margin-left:20px;
}
.btns_05 {
    background: url("../images/btn_05.gif");
    border: 0 none;
    cursor: pointer;
    height: 22px;
    text-align: center;
    width: 91px;
	color:#333;
	font-size:12px;
}


.commontips {
	border:1px solid #fdc66b;
	background:#fff2d7;
	padding:5px;
	text-align:left;
	color:#ff6501;
	margin-bottom:10px;
	margin-top:10px;
}
.tip-style01 {
	color:#999999;
}
.tip-style02 {
	background:#f2fbff url("http://www.yiqifa.com/image/icon-05.png") no-repeat 5px center;
	border:1px solid #46a6e3;
	padding:3px;
	padding-left:20px;
}
.tip-style03 {
	background:#fef7f1 url("http://www.yiqifa.com/image/icon-04.png") no-repeat 5px center;
	border:1px solid #cf6c35;
	padding:3px;
	padding-left:20px;
}
.tip-style04 {
	background:#f7fef4 url("http://www.yiqifa.com/image/icon-06.png") no-repeat 5px center;
	border:1px solid #63bd3b;
	padding:3px;
	padding-left:20px;
}

.td_left {
	text-align:left;
	padding:5px;
}

.float-top{
	border-bottom:1px solid #CFCFCF;
	text-align:left;
}
.float-top span,
.float-top span{
	width:5px;
	height:30px;
}
.float-top .ftop-l{
	float:left;
	background:url("http://www.yiqifa.com/image/win/float-gray.gif") 0 -30px no-repeat;
}
.float-top .ftop-r{
	float:right;
	background:url("http://www.yiqifa.com/image/win/float-gray.gif") 0 -60px no-repeat;
}
.float-top .ftop-m{
	padding:0 5px;
	_float:left;
	*padding:0;
}
.float-top .ftop-m h3{
	background:url("http://www.yiqifa.com/image/win/float-gray.gif") 0 0px repeat-x;
	line-height:30px;
	height:30px;
	padding:0 10px;
	font-weight:bold;
	overflow:hidden;
}
.win-close{
	float:right;
	height:20px;
	width:38px;
	margin-top:1px;
	background:url("http://www.yiqifa.com/image/win/float-close.gif") 0 0px repeat-x;
}
.more{
	float:right;
	height:20px;
	margin-top:1px;
}
.float-mid{
	padding:10px 10px 4px 10px;
	border-left:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
	border-top:1px solid #CFCFCF;
	background:#fff;
	overflow:hidden;
}
.float-bottom{
	height:5px;
	clear:both;
	overflow:hidden;
}
.float-bottom span{
	height:6px;
	width:5px;
}
.fbot-l{
	float:left;
	background:url("http://www.yiqifa.com/image/win/float-gray.gif") 0 -90px no-repeat;
}
.fbot-r{
	float:right;
	background:url("http://www.yiqifa.com/image/win/float-gray.gif") 0 -96px no-repeat;
}
.fbot-m{
	padding:0 5px;
	_float:left;
	*padding:0;
}
.fbot-m p{
	height:6px;
	background:url("http://www.yiqifa.com/image/win/float-gray.gif") 0 -102px repeat-x;
}
.btns_03 {
	display:block;
	background:url("http://www.yiqifa.com/image/btn/btn07.jpg") no-repeat 0 0;
	width:202px;
	height:53px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	line-height:53px;
	vertical-align:middle;
}
a:hover.btns_03 {
	display:block;
	background:url("http://www.yiqifa.com/image/btn/btn07hover.jpg") no-repeat 0 0;
	width:202px;
	height:53px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	line-height:53px;
	vertical-align:middle;
}







