@charset "utf-8";



.header {
	width:960px;
	margin:0 auto;
}

.header .logo {
	width:255px;
	height:67px;
	float:left;
}
.header .logo a {
	display:inline-block;
}
.header .logo span {
	display:inline-block;
	vertical-align:top;
}

.header .quick-entrance {
	float:right;
	width:330px;
}
.header .quick-width {
	width:500px;
}
.header .quick-entrance .welcome {
	float:right;
}
.header .quick-entrance a {
	display:inline-block;
	margin-right:10px;
	color:#565656;
	text-decoration:none;
}
.header .quick-entrance a:hover {
	text-decoration:underline;
}
.header .quick-entrance .entrance01 {
	float:right;
	background:url("http://www.yiqifa.com/image/hearder_icon1.gif") no-repeat 0 center;
	padding-left:15px;
}
.header .quick-entrance .entrance02 {
	float:right;
	background:url("http://www.yiqifa.com/image/hearder_icon2.gif") no-repeat 0 center;
	padding-left:15px;
}
.header .quick-entrance .entrance03 {
	float:right;
	background:url("http://www.yiqifa.com/image/hearder_icon3.gif") no-repeat 0 center;
	padding-left:15px;
}
.header .quick-entrance  .micro-blog {
	text-align:right;
}
.header .quick-entrance  .micro-blog span {
	display:inline-block;
	color:#888687;
	font-weight:bold;
	margin-top:20px;
}

.header .rolling-news {
	float:right;
	margin-right:20px;
	margin-top:40px;
	width:300px;
	height:20px;
	overflow:hidden;
}
.header .rolling-news li {
	height:20px;
}
.header .rolling-news a {
	display:block;
	text-align:left;
}


.header .nav {
	width:948px;
	background:url("http://www.yiqifa.com/image/nav-bg.jpg") no-repeat 0 0;
	margin-bottom:10px;
	height:33px;
	padding-left:12px;
	padding-top:6px;
}
.header .nav a {
	display:inline-block;
	width:81px;
	height:33px;
	float:left;
	line-height:33px;
	color:#fff;
	font-size:14px;
}
.header .nav a:hover {
	background:url("http://www.yiqifa.com/image/nav-hover.jpg") no-repeat left bottom;
	width:81px;
	height:33px;
	color:#999999;
	font-weight:bold;
	text-decoration:none;
}
.header .nav a.current {
	background:url("http://www.yiqifa.com/image/nav-hover.jpg") no-repeat left bottom;
	width:81px;
	height:33px;
	color:#999999;
	font-weight:bold;
	text-decoration:none;
}
.header .nav span {
	display:inline-block;
	background:url("http://www.yiqifa.com/image/nav-line.jpg") no-repeat 0 center;
	width:2px;
	height:28px;
	vertical-align:middle;
	margin-left:7px;
	margin-right:7px;
	float:left;
}

.main {
	width:960px;
	margin:0 auto;
	position:relative;
	margin-bottom:10px;
}

.main .main-left {
	float:left;
	width:202px;
	margin-right:10px;
}

.login {
	width:202px;
	margin-bottom:8px;
}
.login .title {
	background:url("http://www.yiqifa.com/image/login-title.jpg") no-repeat 0 0;
	width:202px;
	height:27px;
}
.login .content {
	padding:0px 1px;
	border-left:1px solid #c5c5c5;
	border-right:1px solid #c5c5c5;
	background:#fff;
	width:198px;
}
.login .content p {
	padding-bottom:4px;
	background:#fbfaf6;
}
.login .content p label {
	display:inline-block;
	width:59px;
	text-align:right;
	float:left;
	background:#fbfaf6;
}
.login .content .user-name {
	padding-top:15px;
}
.login .content .user-name label {
	line-height:14px;
}
.login .content .user-name .input01 {
	vertical-align:top;
}
.login .content .valid-code {
	clear:both;
}
.login .content .valid-code label {
	vertical-align:top;
}
.login .content .valid-code .input02 {
	vertical-align:top;
	float:left;
	margin-left:4px;
	width:52px;
}
.login .content .valid-code img {
	width:42px;
	height:20px;
	_float:left;
}
.login .content .valid-code img.valid {
	vertical-align:top;
	margin-top:3px;
}
.login .content .valid-code a {
	display:inline-block;
	width:36px;
	line-height:12px;
	*line-height:14px;
	_line-height:14px;
	_float:left;
}
.login .content .btnarea {
	padding-top:5px;
}
.login .content .btnarea a {
	display:inline-block;
	margin-right:10px;
	float:left;
	_padding-bottom:1px;
}
.login .content .line {
	border-bottom:1px dashed #cccacb;
	padding-top:10px;
}
.login .content .words {
	padding-top:12px;
	color:#686667;
	text-align:left;
	padding-left:10px;
}
.login .content .registe-btn {
	padding-top:18px;
	padding-bottom:14px;
}

.login .logup {
	text-align:left;
}
.login .logup p {
	padding-left:10px;
}
.login .logup .user-name {
	padding-top:5px;
	_padding-top:10px;
}
.login .logup .quick {
	text-align:center;
}
.login .logup .quick a {
	display:inline-block;
	width:80px;
	text-align:left;
	color:#fd9800;
}
.login .logup .enter-btn {
	padding-top:18px;
	padding-bottom:14px;
	text-align:center;
	padding-right:10px;
}

.login .footer {
	background:url("http://www.yiqifa.com/image/login-footer.jpg") no-repeat 0 0;
	width:202px;
	height:4px;
}

.advantage {
	width:202px;
	margin-bottom:8px;
}
.advantage .earner {
	display:inline-block;
	background:url("http://www.yiqifa.com/image/pic01.jpg") no-repeat top center;
	padding-top:60px;
}
.advantage .plat {
	display:inline-block;
	background:url("http://www.yiqifa.com/image/pic02.jpg") no-repeat top center;
	padding-top:60px;
}
.advantage .advertiser {
	display:inline-block;
	background:url("http://www.yiqifa.com/image/pic03.jpg") no-repeat top center;
	padding-top:60px;
}

.earner-star {
	width:202px;
	margin-bottom:8px;
}
.earner-star .border-middle {
	overflow:hidden;
	_height:100%;
}
.earner-star li {
	width:80px;
	display:inline-block;
	background:url("http://www.yiqifa.com/image/icon-01.jpg") no-repeat left center;
	padding-left:8px;
	text-align:left;
	float:left;
	line-height:24px;
	_line-height:21px;
}

.media-reports {
	width:202px;
	margin-bottom:8px;
}
.media-reports li {
	background:url("http://www.yiqifa.com/image/icon-02.jpg") no-repeat left center;
	padding-left:12px;
	text-align:left;
	line-height:21px;
}

.Speech {
	width:202px;
	margin-bottom:8px;
}
.Speech .words {
	margin-bottom:18px;
	*margin-bottom:15px;
	_margin-bottom:15px;
}
.Speech .words p {
	line-height:22px;
	text-align:left;
}
.Speech .words p span {
	margin-right:10px;
	font-weight:bold;
}

.service {
	width:202px;
	margin-bottom:8px;
}
.service .border-middle {
	padding:10px 5px;
}
.service p{
	text-align:left;
	color:#666666;
}
.service p a {
	color:#fd9800;
	display:inline-block;
	margin-left:10px;
}

.main .main-right {
	float:right;
	width:747px;
}
.main-right .first {
	width:747px;
	margin-bottom:8px;
}

.first .focus-map {
	float:left;
	width:498px;
	height:205px;
	border:1px solid #ccc;
}
#MainPromotionBanner #SlidePlayer {
    margin: 0 auto;
    position: relative;
}
#MainPromotionBanner .Slides {
    height: 205px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#MainPromotionBanner .Slides li {
    float: left;
    height: 205px;
    width: 498px;
}
#MainPromotionBanner .Slides img {
    border: 0 none;
    display: block;
    height: 205px;
    width: 498px;
}
#MainPromotionBanner .SlideTriggers {
    height: 15px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 185px;
    z-index: 10;
}
#MainPromotionBanner .SlideTriggers li {
    background: url("http://www.yiqifa.com/image/num-bg01.gif") no-repeat scroll center center transparent;
    color: #9da2b8;
    cursor: pointer;
    display: inline;
    float: left;
    height: 15px;
    line-height: 15px;
	margin-right:5px;
    overflow: hidden;
    text-align: center;
    width: 15px;
}
#MainPromotionBanner .SlideTriggers li.Current {
    background: url("http://www.yiqifa.com/image/num-bg.gif") no-repeat scroll center center transparent;
    border: 0 none;
    color: #FFFFFF;
    height: 15px;
    line-height: 15px;
    margin-right:5px;
    width: 15px;
}

.first .integral {
	float:right;
	width:238px;
}
.first .integral .border-top a {
	color:#578197;
}
.first .integral .border-middle {
	padding:10px 4px;
}
.first .integral .pic {
	background:#efefef;
	padding:2px 1px 2px 2px;
	overflow:hidden;
}
.first .integral .pic li {
	background:#fff;
	display:inline-block;
	float:left;
	margin-right:1px;
	width:55px;
	height:54px;
}
.first .integral .pic li img {
	max-height:54px;
	_height:54px;
}
.first .integral .title {
	color:#c40002;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	padding:9px 0 9px 10px;
	margin-left:5px;
	border-bottom:1px dashed #dadada;
}
.first .integral .list {
	padding-left:5px;
	padding-right:5px;
}
.first .integral .list li {
	background:url("http://www.yiqifa.com/image/icon-01.jpg") no-repeat left center;
	line-height:21px;
	text-align:left;
	border-bottom:1px dashed #dadada;
	padding-left:10px;
	height:21px;
	overflow:hidden;
	text-overflow:ellipsis;
	width:200px;
	white-space:nowrap;
	
}

.main-right .second {
	width:747px;
	margin-bottom:8px;
}
.second .yiqifa-announcement {
	float:left;
	width:320px;
}
.second .advertiser-announcement {
	float:right;
	width:400px;
}
.second li {
	display:block;
	border-bottom:1px dotted #888888;
	line-height:22px;
	background:url("http://www.yiqifa.com/image/icon-03.jpg") no-repeat left center;
	padding-left:10px;
	text-align:left;
}
.second li.last {
	border-bottom:none;
}

.main-right .all-active {
	width:747px;
	margin-bottom:8px;
}
.all-active ul {
	width:747px;
	height:27px;
	background:url("http://www.yiqifa.com/image/tab/tab-bg.jpg") no-repeat 0 0;
}
.all-active ul li {
	float:left;
	margin-left:22px;
	margin-right:22px;
	width:106px;
	line-height:27px;
}
.all-active ul li a {
	display:inline-block;
	background:none;
	width:106px;
	height:27px;
	color:#666666;
}
.all-active ul li a:hover {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab-hover.jpg") no-repeat 0 0;
	width:106px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.all-active ul li.active {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab-hover.jpg") no-repeat 0 0;
	width:106px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.all-active ul li.active a {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab-hover.jpg") no-repeat 0 0;
	width:106px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.all-active .tab_content {
	width:728px;
	border:1px solid #c5c5c5;
	border-top:none;
	padding:10px 2px;
	padding-left:15px;
	_padding-left:11px;
}
.all-active .tab_content a {
	border:1px solid #cecece;
	display:block;
	float: left;
    margin: 3px 2px;
	margin-right:10px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 130px;
	height:109px;
}
.all-active .tab_content a img {
	width:130px;
	height:109px;
}


.main-right .special {
	width:747px;
	margin-bottom:8px;
}
.special ul {
	width:747px;
	height:27px;
	background:url("http://www.yiqifa.com/image/tab/tab-bg.jpg") no-repeat 0 0;
}
.special ul li {
	float:left;
	margin-left:22px;
	margin-right:22px;
	width:106px;
	line-height:27px;
}
.special ul li a {
	display:inline-block;
	background:none;
	width:106px;
	height:27px;
	color:#666666;
}
.special ul li a:hover {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab-hover.jpg") no-repeat 0 0;
	width:106px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.special ul li.active {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab-hover.jpg") no-repeat 0 0;
	width:106px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.special ul li.active a {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab-hover.jpg") no-repeat 0 0;
	width:106px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.special .tab_contents {
	width:745px;
	border:1px solid #c5c5c5;
	border-top:none;
	height:177px;
}

.main-right .profit {
	width:745px;
	margin-bottom:8px;
	height:90px;
	border:1px solid #ccc;
}
.main-right .profit object {
	border:none;
}

.main-right .coupon {
	width:747px;
	margin-bottom:8px;
}
.main-right .coupon .border-middle {
	overflow:hidden;
}
.main-right .coupon ul {
	_width:100%;
}
.main-right .coupon li {
	width:173px;
	float:left;
	margin-right:10px;
}
.main-right .coupon li.last {
	margin-right:0px;
}
.main-right .coupon li .pic {
	border:2px solid #c5c5c5;
	width:169px;
	height:78px;
	background:#fff;
}
.main-right .coupon li .pichover {
	border:2px solid #f5c478;
	width:169px;
	height:78px;
	background:#fff;
}

.main-right .coupon li .pic .left {
	width:101px;
	height:78px;
	background:#fff;
	border-right:2px dashed #f5c478;
	margin-right:1px;
	float:left;
}
.main-right .coupon li .pic .left p {
	padding-top:5px;
	padding-bottom:5px;
	color:#ff1d1e;
}
.main-right .coupon li .pic .left img {
	width:80px;
	height:40px;
}
.main-right .coupon li .pic .right {
	width:65px;
	height:78px;
	background:#ffe5c0;
	float:right;
}
.main-right .coupon li .pic .right p {
	color:#f9506f;
	font-size:14px;
	font-weight:normal;
}
.main-right .coupon li p {
	color:#343434;
	font-weight:bold;
	padding-top:9px;
	padding-bottom:5px;
}

<!--尾文件定义-->
.footer {
	width:100%;
	margin-bottom:10px;
}

.footer .nav-bottom {
	background:#f8f6f7;
	text-align:center;
	border-top:1px solid #e5e5e5;
	padding-top:20px;
	padding-bottom:15px;
}
.footer .nav-bottom a {
	color:#666666;
	display:inline-block;
	padding:5px;
	vertical-align:middle;
	line-height:25px;
}
.footer p.words {
	background:#f8f6f7;
	text-align:center;
	color:#656565;
	padding:10px 0;
	padding-bottom:20px;
}

.footer p.beian {
	padding:10px;
}
.beian1{ width:118px; height:48px; background-image:url("http://www.yiqifa.com/image/yigao_wscfy_031.gif"); background-repeat: no-repeat; display:inline-block; text-decoration:none;}
a.beian1:hover{ width:118px; height:48px; display:inline-block; text-decoration:none;}
.beian2{ width:118px; height:48px; background-image: url("http://www.yiqifa.com/image/yigao_ws_033.gif"); background-repeat: no-repeat; display:inline-block; text-decoration:none;}
a.beian2:hover{ width:118px; height:48px; display:inline-block; text-decoration:none;}
.beian3{ width:118px; height:48px; background-image: url("http://www.yiqifa.com/image/yigao_ws_034.gif"); background-repeat: no-repeat; display:inline-block; text-decoration:none;}
a.beian3:hover{ width:118px; height:48px; display:inline-block; text-decoration:none;}
.beian4{ width:118px; height:48px; background-image: url("http://www.yiqifa.com/image/yigao_ws_035.gif"); background-repeat: no-repeat; display:inline-block; text-decoration:none;}
a.beian4:hover{ width:118px; height:48px; display:inline-block; text-decoration:none;}
.beian5{ width:118px; height:48px; background-image: url("http://www.yiqifa.com/images/yigao_ws_036.gif"); background-repeat: no-repeat; display:inline-block; text-decoration:none;}
a.beian5:hover{ width:118px; height:48px; display:inline-block; text-decoration:none;}
.beian6{ width:118px; height:48px; background-image: url("http://www.yiqifa.com/images/chengxin.gif"); background-repeat: no-repeat; display:inline-block; text-decoration:none;}
a.beian6:hover{ width:118px; height:48px; display:inline-block; text-decoration:none;}

.contact {
	width:90px;
}
.contact .fold {
	background:url("http://www.yiqifa.com/image/pic09.jpg") no-repeat 0 0;
	width:24px;
	height:133px;
	display:block;
	position:absolute;
	right:-30px;
	top:0px;
}
.contact .open {
	width:90px;
	display:none;
	position:absolute;
	right:-124px;
	top:0px;
}
.contact .open .title {
	background:url("http://www.yiqifa.com/image/contact-bg.jpg") no-repeat 0 0;
	width:90px;
	height:42px;
}
.contact .open .content {
	background:#c00e0e;
	padding:1px 2px;
	width:86px;
}
.contact .open .content li {
	_height:24px;
}
.contact .open .content li a {
	display:block;
	border:1px solid #e1901a;
	border-top:none;
	background:#fff;
	line-height:24px;
	_height:24px;
}
.contact .open .content li a:hover {
	display:block;
	border:1px solid #e1901a;
	border-top:none;
	background:#fcead2;
	line-height:24px;
	_height:24px;
}
.contact .open .content li.title01 {
	border:1px solid #e1901a;
	background:#fff url("http://www.yiqifa.com/image/qqimg.jpg") no-repeat 5px 5px;
	color:#333;
	padding-left:10px;
	line-height:24px;
}
.contact .open .online {
	width:90px;
}

.chaxun {
	padding:10px 5px;
	text-align:left;
}
.chaxun span {
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;
	_padding-bottom:1px;
}
.shaixuan {
	border:1px solid #cdcdcd;
	padding:10px;
	text-align:left;
	margin-bottom:10px;
}
.shaixuan .title01 {
	background: url("http://www.yiqifa.com/image/onner/icon0704.jpg") no-repeat scroll left center;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding-left: 16px;
	margin-bottom:5px;
	text-align:left;
	border-bottom:1px solid #cdcdcd;
}
.shaixuan a {
	display:inline-block;
	width:15%;
	text-align:left;
	line-height:25px;
	white-space:nowrap;
}
.fliparea {
	border:1px solid #cdcdcd;
	padding:5px;
}
.fliparea .fliparea-left {
	float:left;
}
.fliparea .fliparea-right {
	float:right;
}
.fliparea .fliparea-right a {
	display:inline-block;
	padding:0 8px;
}
.adv-active {
	width:100%;
	border-collapse:collapse;
}
.adv-active th {
	background:#eee;
	border:1px solid #cdcdcd;
	padding:5px 0;
}
.adv-active td {
	border:1px solid #cdcdcd;
	padding:5px;
}
.adv-active tr.odd {
	background:#F8FAFB;
}
.infor01 table {
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px;
}
.infor01 table td.hack_two {
	width:290px;
}
.infor01 table th {
	background:#eee;
	border:1px solid #cdcdcd;
	padding:5px 0;
	text-align:right;
	width:180px;
	font-weight:normal;
	white-space:nowrap;
}
.infor01 table th.hack_ie8 {
	width:50px\9;
	*width:auto;
	_width:auto;
}
.infor01 table td {
	border:1px solid #cdcdcd;
	padding:5px;
	text-align:left;
}
.infor01 table td .logo-pic {
	float:left;
}
.infor01 table td .adv-info {
	float:left;
	margin-left:10px;
}
.positionlay {
	position:relative;
}
.positonstyle {
	position:absolute;
	left:10px;
	top:10px;
	display:none;
	z-index:99px;
}

.standard ul {
	width:960px;
	height:27px;
	background:url("http://www.yiqifa.com/image/tab/tab01-bg.jpg") no-repeat 0 0;
}
.standard ul li {
	float:left;
	margin-left:22px;
	margin-right:22px;
	width:160px;
	line-height:27px;
}
.standard ul li a {
	display:inline-block;
	background:none;
	width:160px;
	height:27px;
	color:#666666;
}
.standard ul li a:hover {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab01-hover.jpg") no-repeat 0 0;
	width:160px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.standard ul li.active {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab01-hover.jpg") no-repeat 0 0;
	width:160px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.standard ul li.active a {
	display:inline-block;
	background: url("http://www.yiqifa.com/image/tab/tab01-hover.jpg") no-repeat 0 0;
	width:160px;
	height:27px;
	color:#c40004;
	font-weight:bold;
	font-size:14px;
}
.standard .tab_contents {
	width:960px;
}

.register-title {
	border:1px solid #fdc66b;
	overflow:hidden;
	margin-bottom:10px;
	_height:40px;
}
.register-title li {
	float:left;
	width:200px;
	text-align:center;
	border-right:1px solid #fff;
	background:#fff;
	color:#ff6501;
	padding:10px 0;
}
.register-title li.current {
	border-right:1px solid #fdc66b;
	background:#fff2d7;
	color:#ff6501;
}
.selectarea {
	text-align:left;
	margin:10px 0;
	font-size:14px;
	font-weight:bold;
}
.infor02 table {
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px;
}
.infor02 table th {
	border:1px solid #cdcdcd;
	padding:5px 0;
	text-align:right;
	width:180px;
	font-weight:normal;
}
.infor02 table td {
	border:1px solid #cdcdcd;
	padding:5px;
	text-align:left;
}
.infor02 table td input {
    border: 1px solid #CCCCCC;
    height: 18px;
    width: 210px;
}
.tiaokuan textarea {
	width:100%;
	height:200px;
	font-size:12px;
	margin:10px 0;
}
.textposition {
	text-align:center;
}
.register-left {
	width:45%;
	border-right:1px solid #ccc;
	background:url("http://www.yiqifa.com/image/onner/zhuce_logo.jpg") no-repeat center center;
	height:170px;
	float:left;
}
.register-right {
	width:45%;
	height:120px;
	float:left;
	vertical-align:middle;
	padding-top:50px;
}
.register-right p {
	margin-bottom:10px;
}
.register-right p a {
	color:#CC0000;
	text-decoration:underline;
}

.login-win {
	width:930px;
	background:url("http://www.yiqifa.com/image/login-bg.gif") no-repeat left top;
	height:305px;
	padding:15px;
}
.login-win .login-left {
	float:left;
	width:440px;
	padding:10px;
	background:url("http://www.yiqifa.com/image/pic10.jpg") no-repeat left center;
	height:290px;
	text-align:left;
}
.login-win .login-left h3 {
	font-size:14px;
	font-weight:bold;
	color:#5d0000;
	text-align:left;
}
.login-win .login-left p {
	padding-bottom:4px;
	margin-left:180px;
	width:250px;
	clear:both;
}
.login-win .login-left p label {
	display:inline-block;
	width:59px;
	text-align:right;
	float:left;
	*float:none;
}
.login-win .login-left .user-name {
	padding-top:30px;
}
.login-win .login-left .user-name label {
	line-height:14px;
}
.login-win .login-left .user-name .input03 {
	vertical-align:top;
}
.login-win .login-left .password .input04 {
	vertical-align:top;
	float:left;
	*float:none;
}
.login-win .login-left .valid-code label {
	vertical-align:top;
	float:left;
	*float:none;
}
.login-win .login-left .valid-code .input04 {
	vertical-align:top;
	float:left;
	*float:none;
	*width:90px;
}
.login-win .login-left .valid-code img {
	width:42px;
	height:20px;
	float:left;
	*float:none;
	*vertical-align:top;
}
.login-win .login-left .valid-code img.valid {
	vertical-align:top;
	margin-top:3px;
}
.login-win .login-left .valid-code a {
	display:inline-block;
	width:36px;
	line-height:12px;
	*line-height:14px;
	_line-height:14px;
}
.login-win .login-left .btnarea {
	padding-top:5px;
}
.login-win .login-left .btnarea a {
	display:inline-block;
	margin-right:10px;
	float:left;
	*float:none;
	_padding-bottom:1px;
}

.login-win .login-right {
	float:left;
	width:420px;
	padding:10px 10px 10px 30px;
}
.login-win .login-right h3 {
	font-size:14px;
	font-weight:bold;
	color:#5d0000;
	text-align:left;
	margin-bottom:20px;
}
.login-win .login-right p {
	text-align:left;
	background:url("http://www.yiqifa.com/image/icon-07.gif") no-repeat left center;
	padding-left:20px;
	line-height:30px;
}
.login-win .line01 {
	float:left;
	background:url("http://www.yiqifa.com/image/line02.jpg") no-repeat center center;
	width:10px;
	height:306px;
}
.login-win .login-left p.tip-style03 {
	padding:0;
	text-align:left;
	padding-left:20px;
	width:150px;
	margin:3px 0 3px 240px;
	*margin:3px 0 3px 245px;
}

.infor03 table {
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px;
}
.infor03 table th {
	border:1px solid #cdcdcd;
	padding:5px 0;
	text-align:right;
	width:180px;
	font-weight:normal;
}
.infor03 table td {
	border:1px solid #cdcdcd;
	padding:5px;
	text-align:left;
}
.infor03 .tip-style04 {
	text-align:left;
}

.news-content {
	padding:10px;
	text-align:left;
}
.news-content li {
	clear:both;
	border-bottom:1px dashed #ccc;
	margin-bottom:5px;
	height:25px;
}
.news-content li a {
	display:inline-block;
	float:left;
}
.news-contentGwk li {
	clear:both;
	border-bottom:1px dashed #ccc;
	margin-bottom:5px;
	height:25px;
	background:url("http://www.yiqifa.com/image/onner/icon01.jpg") no-repeat left center;
	padding-left:25px;
}
.news-content li span.date {
	float:right;
	display:inline-block;
}

.search {
	float:right;
}

.info {
    background-color: #E8F1FF;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.hiddenStyle li {width:320px;height:22px;overflow:hidden;}

.rss {
	width:400px;
	text-align:left;
	position:absolute;
	display:none;
}
.rss p {
	margin-bottom:10px;
}
.rss .rss-title {
	text-align:left;
	font-weight:bold;
}
.rss .rss-list a {
	height: 18px;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    width: 115px;
	display: inline-block;
	background:url("http://www.yiqifa.com/image/win/rsslist.gif") no-repeat 0 0;
}
.rss .rss-list a.rss-xianguo {
	background-position: left -30px;
}
.rss .rss-list a.rss-google {
	background-position: left 0px;
}
.rss .rss-adr em {
	margin-left:60px;
	display:block;
	font-style:normal;
	margin-top:10px;
}
.emailWelcome {
	width:930px;
	margin:10px auto;
	background:#f0eeef;
	padding-left:30px;
}
.emailWelcome .content {
	background:url("http://www.yiqifa.com/image/register/pic-04.jpg") no-repeat 0 0;
	width:860px;
	height:335px;
	padding-top:30px;
}
.emailWelcome .content a.help {
	text-align:right;
	color:#F00;
	display:block;
	padding-right:50px;
}
.emailWelcome .content .enter {
	margin-top:150px;
	text-align:left;
}
.emailWelcome .content .enter a {
	margin-right:50px;
	margin-left:70px;
}
.emailContent {
	width:960px;
	margin:10px auto;
	background:#f0eeef;
	padding-top:30px;
}
.emailContent .content {
	background:url("http://www.yiqifa.com/image/register/bg01.jpg") no-repeat 0 0;
	width:620px;
	height:409px;
	margin:0 auto;
	padding:89px 0 0px 0;
}
.emailContent .content p{
	margin-left:107px;
	margin-right:93px;
	text-align:left;
	font-weight:bold;
	line-height:24px;
}
.emailContent .content p span {
	color:#008cff;
	font-size:14px;
}
.emailContent .content .btnArea {
	margin-top:34px;
}
.emailContent .content p.words {
	font-weight:normal;
	color:#333333;
}
.emailContent .content p.words span {
	color:#F00;
	font-size:14px;
}
.emailContent .content p.words a {
	color:#1b82af;
}
.btn02 {
	background:url("http://www.yiqifa.com/image/register/btn02.jpg") no-repeat 0 0;
	width:163px;
	height:36px;
	border:none;
	cursor:pointer;
}

.infor01 {
position:relative;
}
 
 
#gallery {font: verdana,arial,sans-serif; width:959px; line-height:25px;}
#gallery span.off {color:#333; height:33px; margin-right:2px; line-height:33px; padding:0 20px; float:left; background:url("http://www.yiqifa.com/image/tabs_0.gif") repeat-x left bottom; border:1px solid #ddd; border-bottom-color:#000; cursor:pointer; position:relative; z-index:20; font-size:13px;}
#gallery span.on {color:#c40004; padding:0 20px; margin-right:2px; margin-top:1px; float:left; background:url("http://www.yiqifa.com/image/tabs_2.gif") repeat-x left bottom; border:1px solid #c5c5c5; cursor:pointer; border-bottom:0; height:33px; line-height:32px; position:relative; z-index:100; font-weight:bold; font-size:14px;}

div.hide {display:none; width:0; overflow:hidden;}
div.show {clear:left;  width:959px; margin-top:0; top:-1px; border-top:1px solid #c5c5c5;  position:relative; z-index:50; }
div.show2 {clear:left;  width:950px; margin-top:0; top:-1px; border-top:1px solid #c5c5c5;  position:relative; z-index:50; }
.search_table{background-color:#eee; line-height:25px; padding:10px 5px; text-align:left; width:100%;}
.textfield_url{width:350px !important ;}
.textfield_rate{width:60px !important ;}
a.price{background:#eee url("http://www.yiqifa.com/image/icon_down.gif") no-repeat 68% center ; display:block; padding:0 3px;}
a.price:hover{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.price_up{background:#eee url("http://www.yiqifa.com/image/icon_up_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.price_down{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.paymentMoney{background:#eee url("http://www.yiqifa.com/image/icon_down.gif") no-repeat 68% center; display:block; padding:0 3px;}
a.paymentMoney:hover{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.paymentMoney_up{background:#eee url("http://www.yiqifa.com/image/icon_up_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.paymentMoney_down{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.payment{background:#eee url("http://www.yiqifa.com/image/icon_down.gif") no-repeat 80% center; display:block; padding:0 3px;}
a.payment:hover{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 80% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.payment_up{background:#eee url("http://www.yiqifa.com/image/icon_up_on.gif") no-repeat 80% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.payment_down{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 80% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.zhekou{background:#eee url("http://www.yiqifa.com/image/icon_down.gif") no-repeat 68% center; display:block; padding:0 3px;}
a.zhekou:hover{background:#eee url("http://www.yiqifa.com/image/icon_up_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.zhekou_up{background:#eee url("http://www.yiqifa.com/image/icon_up_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}
a.zhekou_down{background:#eee url("http://www.yiqifa.com/image/icon_down_on.gif") no-repeat 68% center; display:block; padding:0 3px; color:#f67c24; text-decoration:none;}

.page_up{margin-top:20px; margin-bottom:10px;}
.page_down{margin-top:10px; }



/*新添加的高佣金单品页面*/
.adv-active .product{
	overflow:hidden;
	zoom:1;
}
.adv-active .product .pic{
	width:140px;
	float:left;
}
.adv-active .product img{
	width:120px;
	height:90px;
}
.adv-active .product .product_info{
	float:left;
	width:60%;
	margin-left:5px;
	text-align:left;
	background:none;
	margin-top:5px;
}
.adv-active .product .product_info .name{
	height:40px;
	width:100%;
	overflow:hidden;
	text-overflow: ellipsis;
}
.adv-active .product .product_info .type{
	margin-top:5px;
}
.adv-active strong{
	font-size:18px;
	color:#d20202;
	font-weight:normal !important;
}



.yongjin{
	width:100%;
}
.yongjin1 .btn_yongjin{
	display:block;
	float:right;
	background-color:#fdfbfb;
	border-radius:15px;
	font-size:13px;
	margin:5px 5px;
	padding:3px 10px;
}
.yongjin1 .btn_yongjin:hover{
	color:#fff;
	text-decoration:none;
	background-color:#d20202;
}
.yongjin .title{
	clear:both;
	width:100%;
	height:82px;	
	text-align:center;
	background:url(../images/highComm/bg_yongjin.gif) no-repeat;
}
.yongjin .title h3{
	font:24px/40px "微软雅黑"
}
.yongjin .title .explain{
	font-size:14px;
	color:#888;
}
.yongjin .advantage{
	width:100%;
	height:66px;
	background-color:#fdfbfb;
	overflow:hidden;
	zoom:1;	
}
.yongjin .advantage li{
	float:left;
	width:188px;
	height:66px;
	font-size:13px;
	border:2px solid #fff;
	color:#888;
}
.yongjin .advantage li .font_td{
	font:17px/35px "微软雅黑"
}

.seller{
	width:100%;
	margin-bottom:10px;
	overflow:hidden;
	zoom:1;
}
.seller h4{
	text-align:left;
	font-size:14px;
	line-height:40px;
	font-weight:bold;
}
.seller .seller_left{
	float:left;
	width:610px;
}
.seller .seller_left ul{
	width:603px;
	border-top:1px solid #ddd;
}
.seller .seller_left li{
	float:left;
	width:300px;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	padding:25px 0;
}
.seller .seller_left .b_r{
	border-right:1px solid #ddd;
}
.seller .seller_right{
	float:right;
	width:350px;
}
.seller .btn_big{
	float:right;
	margin-top:20px;
	margin-right:45px;
	color:#FFF;
	line-height:32px;
	text-align:center;
	cursor:pointer !important;
}
.seller .btn_big input{
	width:260px;
	height:34px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	border:none;
    cursor:pointer !important;
	background:url(../images/highComm/btn_06.gif) no-repeat;
}
.seller .btn_big input:hover{
	text-decoration:none;
	 cursor:pointer !important;
}
.search_box h4{
	text-align:left;
	font-size:14px;
	line-height:40px;
	font-weight:bold;
}
.search_box table{
	background-color:#f6f6f6;
}
.list th{
	background-color:# !important;
}



/*----------------右侧的轮播样式------------------*/
#slideBox {
	width: 350px; 
	height: 300px; 
	overflow: hidden; 
	position: relative;
	font-family: Arial,Verdana,"\5b8b\4f53";
}
#slideBox #show_pic { 
    list-style: none; 
	margin: 0px; 
	padding: 0px;
	margin-left:75px;
	*+margin-left:-175px;
	width: 275px; 
	height: 1200px; 
	position: absolute;
}
#slideBox #show_pic li {
	height: 300px;
}
#slideBox #show_pic li .box{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin-left:75px;
    *display: block;
    *font-size: 193px;/*高度/字体大小的比值为1.14*/
    *font-family:Arial;
	width: 275px;
	height: 300px;
	overflow: hidden; /*防止用js缩放时出现不及时*/
	background: #fff;
}
#slideBox #show_pic li .box img{vertical-align:middle; border:0;}	

#iconBall {
	left: 0px; 
	top: 0px;
	position: absolute;
	width:72px;
}
#iconBall li {
	margin:0;
	padding:0;
	list-style:none;
	width:71px; 
	height:71px;
	text-align: center; 
	color: rgb(122, 122, 122); 
	line-height: 20px; 
	font-size: 14px; 
	float: left; 
	cursor: pointer;
	background:url(../images/slideBox.gif) left center no-repeat;
	border:2px solid #ccc;
}
#iconBall li img{
	width:71px;
	height:71px;
}
#iconBall li.active {
	background:url(../images/slideBox.gif) right center no-repeat;
	border:2px solid #930;
}
#slideText {
	right: 0px;
	top: 0px; 
	width: 79px; 
	height: 78px; 
    position: absolute;
	background:url(../images/highComm/bg_tag.png) no-repeat;
}
#textBall {
	right: 8px;
	top: 0px;  
	position: absolute;
}
#textBall li {
	width: 53px;
	font-size: 24px;
	font-weight:bold;
	line-height:55px;
	text-align:center;
	float: left;
	color:#FFF;
	display: none; 
	cursor: pointer;
}
#textBall li.active {
	display: block;
}
#textBall li a {
	color: #e4393c;
	text-decoration: none;
	font-weight:bold;
}
