/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

#page-wrap{ 	
	width:800px;
	padding:10px;
	margin:0 auto;
	position:absolute;
	z-index:99;
 }
#example {
	width:800px;
	height:300px;
}
#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:800px;
	height:300px;
	top:-3px;
	left:-80px;
}
.slides_container {
	width:800px;
	height:300px;
	overflow:hidden;
	border:5px solid #ccc;
	/*position:relative;*/
}


.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	position:absolute;
	bottom:-35px;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.pagination li.current a {
	background-position:0 -12px;
}

#slides .next,#slides .prev{display:block;height:55px;width:52px;text-indent: -9999px;position: absolute;top: 130px; cursor:pointer;z-index:101;}
#slides .prev{ left: 20px;background: url(../image/arrows-l.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/arrows-l.png',sizingMethod=crop);_background-image:none;}
#slides .next{background: url(../image/arrows-r.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/arrows-r.png',sizingMethod=crop);_background-image:none;left: 735px;}
#slides .prev:hover{background: url(../image/arrows-l-h.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/arrows-l-h.png',sizingMethod=crop);_background-image:none;}
#slides .next:hover{background: url(../image/arrows-r-h.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/arrows-r-h.png',sizingMethod=crop);_background-image:none;}

.close { position:absolute;right:30px; top:30px; display:block; background:url(../image/close.png) no-repeat 0 0; width:20px; height:20px; z-index:999; cursor:pointer;}
